html, body {
	height: 100%;
	color: #d5daeb;
}

body {
	background-color: #1c1d21;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

textarea:focus, input:focus, button:focus {
    outline: none;
}

textarea {
	resize: none;
	color: #d5daeb;
	font-family: Arial, Helvetica, sans-serif;
}

hr {
	width: 50%;
	border: 1px solid #33333f;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
}

a, a:hover, a:visited {
	color: #b1b5e1;
}

button:disabled {
	cursor: not-allowed;
}

footer {
	text-shadow: 1px 1px 2px #000000;
	text-align: center;
	color: #303030;
}

details {
	border: 1px solid #787878;
	border-radius: 6px;
	padding: 5px;
	margin: 5px 0px 5px 0px;
	background-color: rgba(255,255,255,0.1);
}

summary {
	cursor: pointer;
}

blockquote {
	border: 1px solid #787878;
	margin: 0px;
	font-style: italic;
	font-size: smaller;
	border-radius: 5px;
	padding-right: 15px;
	padding-bottom: 8px;
	padding-left: 5px;
	margin-top: 5px;
	background-color: rgba(255,255,255,0.1);
	font-family: Georgia, "Times New Roman", Times, serif;
}

blockquote:before { 
	content: open-quote;
	font-size: 32px;
	color: rgba(255,255,255,0.6);
}

blockquote:after { 
	content: close-quote;
	visibility: hidden;
}

#container {
	height: 100%;
}

#main_menu {
	height: 30px;
	background-color: #272930;
	color: #FAFBFC;
	border-bottom: 1px solid #a9bbde;
	overflow: hidden;
	box-sizing: border-box;
}

#menu_txt {
	height: 30px;
	line-height: 30px;
	float: right;
	margin-right: 12px;
	color: #ced7eb;
}

#content {
	width: 100%;
	min-height: 300px;
	position: absolute;
	top: 30px;
	bottom: 0px;
}

#footer_text {
	color: #FAFBFC;
	margin-top: 10px;
}

#input_box {
    position: absolute;
    top: 200px;
    text-align: center;
    width: 100%;
	z-index: 999;
}

#input_box div {
	background-color: #2e2e38;
	border: 1px solid #a9bbde;
	display: inline-block;
	padding: 5px;
}

#input_label {
	vertical-align: middle;
}

#input_btn {
	line-height: normal;
}

#user_input {
	width: 256px;
	height: 30px;
	display: inline-block;
	padding: 6px 10px;
	margin: 0px 5px 0px 5px;
	background-color: #3a404a;
	box-sizing: border-box;
	border: 1px solid #a9bbde;
	color: #bcc9e3;
}

#chat_app, #txtgen_app, #ttsgen_app, #imggen_app {
	width: 100%;
	min-width: 700px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#chat_box, #txtgen_box, #ttsgen_box, #imggen_box {
	height: 100%;
	min-width: 400px;
	position: absolute;
	left: 0px;
	right: 300px;
	border-right: 1px solid #a9bbde;
	box-sizing: border-box;
}

#gen_result, #tts_result, #img_result {
	padding: 20px;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 32px;
	overflow-y: auto;
}

#img_result {
	text-align: center;
	overflow-y: hidden;
}

#chat_log {
	width: 100%;
	position: absolute;
	top: 0px;
	bottom: 32px;
	padding-bottom: 10px;
	overflow-y: auto;
}

#exp_box {
	position: absolute;
	top: 300px;
	left: 0px;
	right: 262px;
	bottom: 54px;
	z-index: 50;
}

#gen_exp_box, #tts_exp_box {
	position: absolute;
	top: 300px;
	left: 0px;
	right: 122px;
	bottom: 54px;
}

#exp_btn {
	position: absolute;
	right: 246px;
	top: 6px;
	cursor: pointer;
	background: none;
	border: none;
	padding: 0px;
}

#mic_btn {
	position: absolute;
	right: 289px;
	top: 6px;
	background: none;
	border: none;
	padding: 0px;
}

#mic_btn:hover:enabled {
	cursor: pointer;
}

#attach_btn {
	position: absolute;
	right: 270px;
	top: 6px;
	background: none;
	border: none;
	padding: 0px;
}

#attach_btn:hover:enabled {
	cursor: pointer;
}

#gen_exp_btn, #tts_exp_btn {
	position: absolute;
	right: 100px;
	top: 5px;
	cursor: pointer;
	background: none;
	border: none;
}

#copy_txt_btn, #read_txt_btn,
#copy_img_btn, #img_dir_btn,
#tts_dir_btn, #clone_voice_btn {
	width: 170px;
	margin: 20px 30px 0px 30px;
}

#wav_dir_btn {
	width: 130px;
}

#voice_sample, #vae_file, #lora_file,
#lora_dir, #lora_folder {
	width: 170px;
}

#thinking, .generating {
	width: 100px;
	position: absolute;
	right: 25px;
	bottom: 40px;
	font-size: 50px;
	font-family: "Times New Roman", Times, serif;
	text-align: right;
	display: none;
}

#chat_side {
	width: 300px;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	background-color: #222429;
}

#txtgen_side, #ttsgen_side, #imggen_side {
	width: 300px;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	background-color: #222429;
	overflow-y: auto;
}

#avatar_box {
	width: 256px;
	height: 256px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 22px;
	border: 2px solid #6d738a;
}

#avatar_btn {
	position: absolute;
    right: 32px;
    top: 32px;
	display: none;
	background-color: transparent;
	padding: 0px;
	border: none;
}

#tmode_btn {
	position: absolute;
    right: 84px;
    top: 32px;
	display: none;
	background-color: transparent;
	padding: 0px;
	border: none;
}

#avatar_btn:hover:enabled, 
#tmode_btn:hover:enabled {
	cursor: pointer;
}

#avatar_box:hover #avatar_btn,
#avatar_box:hover #tmode_btn {
	display: block;
}

#basic_config {
	overflow-y: auto;
	height: 100%;
}

#adv_config, #tool_config {
	display: none;
	overflow-y: auto;
	height: 100%;
}

#tools_info {
	margin: 10px 15px 10px 15px;
}

#new_game_btn {
	margin-top: 15px;
}

#adv_btn {
	width: 130px;
}

#config_box {
	width: 300px;
	min-height: 80px;
	position: absolute;
	top: 284px;
	right: 0px;
	bottom: 50px;
}

#send_box, #cmd_input_box, .gen_input_box {
	width: 100%;
	height: 32px;
	position: absolute;
	bottom: 1px;
}

#text_box {
	position: absolute;
	left: 0px;
	right: 241px;
	bottom: 0px;
	border: 1px solid #a9bbde;
	border-right: none;
	box-sizing: border-box;
}

#gen_text_box, #tts_text_box, 
#img_text_box, #cmd_text_box {
	position: absolute;
	left: 0px;
	right: 101px;
	bottom: 0px;
	border: 1px solid #a9bbde;
	border-right: none;
	box-sizing: border-box;
}

#cmd_text_box {
	right: 102px;
}

#butt_box {
	width: 241px;
	position: absolute;
	right: 0px;
	bottom: 0px;
	border: 1px solid #a9bbde;
	border-right: none;
	box-sizing: border-box;
}

#gen_butt_box, #tts_butt_box, 
#img_butt_box, #cmd_butt_box {
	width: 101px;
	position: absolute;
	right: 0px;
	bottom: 0px;
	border: 1px solid #a9bbde;
	border-right: none;
	box-sizing: border-box;
}

#cmd_butt_box {
	width: 102px;
	border-right: 1px solid #a9bbde;
}

#img_butt_box {
	border-left: none;
}

#gen_img {
	max-width: 100%;
	max-height: 100%;
}

#text_inp, #gen_text_inp, 
#tts_text_inp, #cmd_text_inp {
	width: 100%;
	height: 30px;
	padding: 6px 10px;
	padding-right: 30px;
	background-color: #3a404a;
	box-sizing: border-box;
	border: none;
	color: #bcc9e3;
}

#text_inp {
	padding-right: 70px;
}

#cmd_text_inp {
	padding-right: 10px;
}

#img_text_inp, #img_text_neg {
	width: 50%;
	height: 30px;
	padding: 6px 10px;
	background-color: #3a404a;
	box-sizing: border-box;
	border: none;
	border-right: 1px solid #a9bbde;
	color: #bcc9e3;
}

#send_btn, #redo_btn, #cont_btn {
	border-right: 1px solid #a9bbde;
}

#loading_box {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 999;
	background-color: rgba(125,125,150,0.5);
}

#loading_msg {
	width: fit-content;
	background-color: #2e2e38;
	border: 1px solid #a9bbde;
	padding: 20px;
	margin-top: 100px;
}

#rec_svg {
	float: left;
	width: 16px;
	height: 16px;
	margin-right: 15px;
	display: inline-block;
}

#rec_circle {
	fill: #dd4aa1;
	cx: 8;
	cy: 8;
}

#edit_dialog, #attach_dialog, #input_dialog {
	position: absolute;
	top: 100px;
	left: 100px;
	right: 100px;
	background-color: #2e2e38;
	border: 1px solid #a9bbde;
	z-index: 99;
}

#attach_dialog {
	z-index: 98;
}

#input_dialog {
	z-index: 97;
}

#attach_box {
	height: 148px;
	width: -webkit-fill-available;
	border: 1px dashed #a2a1c1;
	border-radius: 4px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #373842;
	overflow-y: auto;
}

#attach_box div {
	background-color: #2b2c36;
	margin: 0px 5px 5px 5px;
	border-radius: 5px;
	border: 1px solid #414350;
	padding: 5px;
}

#attach_box span {
	float: right;
	font-size: larger;
	font-weight: bold;
	cursor: pointer;
}

#attach_ph {
	line-height: 140px;
}

#prompt_txta, #input_txta {
	height: 138px;
    width: -webkit-fill-available;
}

#ips_label, #ams_label {
	margin-left: 10px;
}

#ip_select, #am_select {
	width: 175px;
}

#settings_btn {
	width: 74px;
}

#restart_btn {
	width: 156px;
}

#edit_btn {
	border: none;
	background-color: transparent;
	padding: 0px;
}

#edit_btn:hover:enabled {
	cursor: pointer;
}

#gen_btn, #tts_btn, #img_btn, #cmd_btn {
	width: 100px;
	border: none;
	display: inline-block;
}

#inst_help_btn, #args_help_btn {
	font-size: 20px;
	font-weight: bold;
	border-radius: 8px;
	background-color: #49494d;
	margin: 15px 5px 0px 5px;
	border: 1px solid #272729;
}

#main_conf_btn, #other_conf_btn {
	font-size: 20px;
	font-weight: bold;
	border-radius: 8px;
	background-color: #49494d;
	margin: 15px 5px 5px 5px;
	border: 1px solid #272729;
}

#inst_help_btn {
	color: #c4c4cf;
}

#args_help_btn {
	color: #868687;
}

#main_conf_btn {
	color: #c4c4cf;
}

#other_conf_btn {
	color: #868687;
}

#main_conf_btn:hover, #other_conf_btn:hover {
	cursor: pointer;
}

#inst_help_btn:hover, #args_help_btn:hover {
	cursor: pointer;
}

#about_box {
	padding-left: 10px;
	padding-right: 10px;
	overflow-y: auto;
}

#console_tab, #config_tab, #about_tab, #help_tab {
	overflow-y: auto;
	max-height: 100%;
}

#help_tab {
	padding: 0px 25px;
}

#log_box {
	margin: 10px;
}

#console_box {
	min-width: 400px;
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 32px;
	top: 0px;
	overflow-y: auto;
}

.hidden {
	display: none;
}

.browse_btn {
	display: inline-block;
    width: 80px;
    line-height: 28px !important;
    position: relative;
    top: 1px;
}

.dialog_btn {
	display: inline-block;
	margin: 0px 4px;
	float: right;
	padding-left: 8px;
    padding-right: 8px;
	line-height: 28px !important;
}

.dialog_head {
	text-align: center;
	border-bottom: 1px solid #a9bbde;
	background-color: #282832;
	padding: 10px;
}

.dialog_body {
	height: 150px;
	padding: 10px;
}

.dialog_foot {
	margin: 10px 5px 10px 0px;
	min-height: 30px;
}

.cfg_btn {
	width: 100px;
	height: 32px !important;
	display: inline-block;
	margin: 5px 10px;
}

.btn {
	height: 30px;
	line-height: 30px;
	background-color: #2b323d;
	border: 1px solid #a9bbde;
	color: #a9bbde;
	text-align: center;
	text-decoration: none;
	transition-duration: 0.2s;
}

.btn:hover:enabled {
	cursor: pointer;
	background-color: #252a33;
}

.btn:active:enabled {
	background-color: #2b323d;
}

.chat_btn {
	width: 60px;
	border: none;
	display: inline-block;
}

.menu_btn {
	height: 30px;
	line-height: 30px;
	border: none;
	border-right: 1px solid #a9bbde;
	background-color: #343945;
	color: #ccd5eb;
	padding: 0px 14px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	transition-duration: 0.3s;
}

.menu_btn:hover {
	cursor: pointer;
	background-color: #515466;
	color: #d8dff0;
}

.menu_sel {
	background-color: #515466;
	color: #d8dff0;
}

.menu_sel:hover {
	cursor: default;
}

.edit_img:hover {
	content: url(./img/edit.png);
}

.txt_area {
	width: 100%;
	height: 100%;
	color: #bcc9e3;
	background-color: #3a404a;
	border: 1px solid #a9bbde;
	padding: 10px;
}

.cfg_usr {
	width: 125px;
	height: 30px;
	display: inline-block;
	padding: 6px 10px;
	background-color: #3a404a;
	box-sizing: border-box;
	border: none;
	color: #bcc9e3;
}

.cfg_txt {
	width: 256px;
	height: 30px;
	display: inline-block;
	padding: 6px 10px;
	background-color: #3a404a;
	box-sizing: border-box;
	border: none;
	color: #bcc9e3;
}

.cfg_drp {
	width: 256px;
	height: 30px;
	padding: 6px 10px;
	background-color: #3a404a;
	box-sizing: border-box;
	border: none;
	color: #bcc9e3;
}

.cfg_sld {
	width: 256px;
}

.cfg_num {
	width: 256px;
	height: 30px;
	padding: 6px 10px;
	background-color: #3a404a;
	box-sizing: border-box;
	border: none;
	color: #bcc9e3;
}

.cfg_lbl {
	height: 30px;
	line-height: 30px;
	margin-top: 14px;
	font-size: 17px;
	display: block;
}

.cfg_title {
	margin: 20px 0px 0px 0px;
	font-weight: lighter;
}

.prompt {
	margin: 10px;
	text-align: center;
}

.prompt_txt {
	margin: 0px;
	padding: 6px 10px;
	display: inline-block;
	background-color: #161618;
	border-radius: 5px;
	line-height: 22px;
}

.msg_p {
	margin: 0px;
}

.msg_pad {
	height: 32px;
}

.msg_file {
	background-color: #00000033;
	border: 1px solid #ffffff21;
	border-radius: 5px;
	padding: 3px 5px 3px 5px;
	margin-top: 4px;
}

.files_head {
	margin-top: 20px;
	margin-bottom: 2px;
}

.umsg_box {
	width: 100%;
}

.bmsg_box {
	width: 100%;
	text-align: right;
}

.code_box {
	margin: 5px 0px 5px 0px;
	text-align: left;
	white-space: pre-wrap;
}

.code_box code {
	background-color: #181a1d7d;
	border-radius: 6px;
	border: 1px solid rgba(130,130,135,0.3);
}

.img_box {
	padding: 1px 5px 5px 5px;
	background-color: #00000030;
	border: 1px solid #ffffff30;
	border-radius: 6px;
	max-width: 512px;
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px;
}

.yt_vid {
	border: 0px;
	border-radius: 5px;
	width: 420px;
	height: 275px;
	margin: 5px 0px 5px 0px;
	display: block;
}

.chat_vid {
	width: 420px;
	border-radius: 5px;
	margin: 5px 0px 5px 0px;
	display: block;
}

.chat_aud {
	margin: 5px 0px 5px 0px;
	display: block;
}

.dark_bg {
	display: inline-block;
	background-color: #2c2c2e;
	padding: 5px 8px;
	border-radius: 6px;
	margin-bottom: 2px;
}

.arg_title {
	font-weight: normal;
}

.wide_hr {
	width: 100%;
}

.chat_hr {
	width: 100%;
	border: 1px solid #b3b4b6;
	border-bottom: 0px;
}

.chat_img {
	width: 100%;
	max-width: 512px;
	border-radius: 6px;
	margin-top: 4px;
	cursor: pointer;
	position: relative;
	z-index: 1;
}

.chat_msg {
	padding: 8px 13px;
	margin: 4px 10px;
	margin-right: 60px;
	background-color: #293aa3;
	display: inline-block;
	border-radius: 8px 8px 8px 0px;
}

.bot_msg {
	padding: 8px 13px;
	margin: 4px 10px;
	margin-left: 60px;
	background-color: #0e7d25;
	display: inline-block;
	border-radius: 8px 0px 8px 8px;
}

.help_icon {
	content: url(./img/help.png);
	cursor: help;
}

.console_log {
	background-color: #30333b;
	border: 1px solid #575764;
	padding: 6px;
	margin: 0px 0px 10px 0px;
	overflow-x: auto;
	white-space: pre-wrap;
}

.settings_col {
	width: 425px;
	display: inline-block;
}
