tensorflow==2.10.1
transformers
safetensors
diffusers
accelerate
matplotlib
pyttsx3
moviepy
opencv-python
scikit-learn
sentencepiece
peft
pydub
soundfile
librosa
pysptk
pyworld
torch
torchvision
speechbrain
tqdm
numba
yacs
kornia
facexlib