tensorflow
transformers
tensorboardx
diffusers
accelerate
matplotlib
pyttsx3
ffmpeg-python
opencv-python
scikit-learn
sentencepiece
peft
pydub
pynormalize
soundfile
librosa
pysptk
pyworld
torch
torchvision
torchaudio